.container {
    padding: 40px;
}
.info {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 40px;
    font-size: 20px;
}
.link {
    color: #000;
}
.linkActive {
    color: chocolate;
}
.button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}