.movieList {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	margin-top: 50px;
}

.movieItem {
	/* width: 200px; */
	/* height: 400px; */
	border: 1px solid #646cff;
	border-radius: 8px;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.movieItem:hover,
.movieItem:focus {
    scale: 1.05;
    transition: all 0.3s ease-in-out;
}
